<div class="o-container o-container--xlarge c-main-product c-main-about">
  <div class="o-grid  o-grid--wrap o-grid--no-gutter">
    <div class="o-grid__cell  c-main-about__box">
      <h3>About Us</h3>
    </div>
    <div class="o-grid__cell">
      <p>
        Woodberta is the handmade shoe-tree family business, which has been 
        established in 1870 in Hungary. 
        The traditional manufacture technique has been handed from father to son.
        <br/><br/>
        As our motto is “quality over quantity”
        and we love authenticity and diversity, each pair is handmade with 
        personalised designs and colour.
      </p>
    </div>
  </div>
</div>