<div class="o-container o-container--xlarge c-main-product c-main-product--right" id="products">
  <div class="o-grid  o-grid--wrap">
    <div class="o-grid__cell o-grid__cell--width-50@medium o-grid__cell--width-100@xsmall">
      <h3>
        Multi–fit <br/>
        models
      </h3>

      <p>
        This model is inspired by our centuries long experience for all those costumers who still don’t have their own show lasts.
      </p>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50@medium o-grid__cell--width-100@xsmall">
      <div class="c-main-products-carousel">
        <div class="c-main-products-carousel__item"><div class="c-main-products-carousel__item__content"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/69/Ember.js_Logo_and_Mascot.png/170px-Ember.js_Logo_and_Mascot.png"> </div></div>
        <div class="c-main-products-carousel__item"><div class="c-main-products-carousel__item__content"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/69/Ember.js_Logo_and_Mascot.png/170px-Ember.js_Logo_and_Mascot.png"> </div></div>
        <div class="c-main-products-carousel__item"><div class="c-main-products-carousel__item__content"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/69/Ember.js_Logo_and_Mascot.png/170px-Ember.js_Logo_and_Mascot.png"> </div></div>
        <div class="c-main-products-carousel__item"><div class="c-main-products-carousel__item__content"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/69/Ember.js_Logo_and_Mascot.png/170px-Ember.js_Logo_and_Mascot.png"> </div></div>
      </div>
    </div>
  </div>
</div>
<div class="o-container o-container--xlarge">
  <div class="o-grid  o-grid--wrap">
    <div class="o-grid__cell o-grid__cell--width-50@medium o-grid__cell--width-100@xsmall">
      <div class="c-main-product__variants">
        Check our colour and <br/>
        accessory possiblites. 
      </div>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50@medium o-grid__cell--width-100@xsmall">
      <div class="c-main-products-carousel--mini">
        <div class="c-main-products-carousel__item"><div class="c-main-products-carousel__item__content"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/69/Ember.js_Logo_and_Mascot.png/170px-Ember.js_Logo_and_Mascot.png"> </div></div>
        <div class="c-main-products-carousel__item"><div class="c-main-products-carousel__item__content"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/69/Ember.js_Logo_and_Mascot.png/170px-Ember.js_Logo_and_Mascot.png"> </div></div>
        <div class="c-main-products-carousel__item"><div class="c-main-products-carousel__item__content"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/69/Ember.js_Logo_and_Mascot.png/170px-Ember.js_Logo_and_Mascot.png"> </div></div>
        <div class="c-main-products-carousel__item"><div class="c-main-products-carousel__item__content"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/69/Ember.js_Logo_and_Mascot.png/170px-Ember.js_Logo_and_Mascot.png"> </div></div>
      </div>
    </div>
  </div>
</div>

