<div class="o-container o-container--xlarge">
  <div class="o-grid  o-grid--wrap o-grid--no-gutter">
    <div class="o-grid__cell o-grid__cell--width-50@medium o-grid__cell--width-100@xsmall c-main-cover c-main-cover--box1">
      <img src="/assets/images/main_logo.png" alt="woodberta"/>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50@medium o-grid__cell--width-100@xsmall c-main-cover c-main-cover--box2">
      <div class="c-main-cover__content">
        <h3>
          Your 
          personalized
          shoe tree
        </h3>
        <p>
          Based on your model <br/>
          we create the highest quality shoe accessories
        </p>

        <a class="btn" href="#products">
          PRODUCTS
        </a>
      </div>
    </div>
  </div>
</div>