<div class="o-container o-container--xlarge">
  <div class="o-grid o-grid--demo">
    <div class="o-grid__cell">
      <div class="o-grid-text">first</div>
    </div>
    <div class="o-grid__cell">
      <div class="o-grid-text">second</div>
    </div>
    <div class="o-grid__cell">
      <div class="o-grid-text">third</div>
    </div>
  </div>
</div>