<div class="o-container o-container--xlarge c-main-product c-header-menu">
  <div class="o-grid  o-grid--wrap">
    <div class="o-grid__cell o-grid__cell--width-30">
      <img src="/assets/images/header-logo.png" alt="woodberta.com" class="c-header-menu__logo"/>
    </div>
    <div class="o-grid__cell o-grid__cell--width-70">
      <ul>
        <li><a href="#products">Products</a></li>
        <li><a href="#products">Services</a></li>
        <li><a href="#products">Method</a></li>
        <li><a href="#products">About us</a></li>
        <li><a href="#products">Contact</a></li>
      </ul>
    </div>
  </div>
</div>